@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  @apply bg-background;

  overflow-x: hidden;
  overflow-y: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

@theme {
  --color-primary: #ada991;
  --color-background: #fcfaf1;
  --color-background-secondary: #bfbba9;
  --color-accent: #98d8ef;
  --color-primary-text: #000000;
  --color-secondary-text: #fcfaf1;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}
