@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  @apply bg-background;

  overflow-x: hidden;
  overflow-y: auto;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-primary: #ADA991;
  --color-background: #FCFAF1;
  --color-background-secondary: #BFBBA9;
  --color-accent: #98D8EF;
  --color-primary-text: #000000;
  --color-secondary-text: #FCFAF1;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}